/* Palette colori */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #FFFFFF;
    --color-black: #000000;
    --color-lightgrey: #C1C1C1;
    --color-highlight: #9AE22D;
    --color-redcolor: #CA1717;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug {
    border: 1px solid red;
} */

/* Classe fluida per le immagini */
img {
    width: 100%;
    max-width: 100%;
    display: block;
    /* Riempio l'immagine nel contenitore mantenendo le
    sue proporzioni ma ritagliando eventualmente i
    bordi per adattarla al suo contenitore */
    object-fit: cover;
}

/* Generals */
body {
    background-color: var(--color-darkgrey);
    color: var(--color-light);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

.wrapper {
    background-color: var(--color-darkgrey);
    height: 100vh;
    overflow: hidden;
}

h2 {
    font-size: 2em;
    padding-bottom: 10px;
}

.row {
    padding: 30px 0px;
}

h4 {
    margin: 20px 0 10px 0;
    padding-left: 10px;
    text-transform: uppercase;
}

hr {
    border: 1px solid var(--color-lightgrey);
    margin: 0 15px;
    width: 100%;
}

.upgrade-button {
    margin-right: 20px;
    padding: 10px 40px;
    border-radius: 20px;
    color: var(--color-light);
    background-color: transparent;
    border: 2px solid var(--color-lightgrey);
    margin-left: auto;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.upgrade-button:hover {
    transform: scale(1.1);
    border: 2px solid var(--color-light);
    /* Imposto una transizione così da rendere più
    fluido l'ingrandirsi del pulsante all'hover
    con il mouse */
    transition: all 0.5s ease-out;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-lightgrey);
    font-weight: 500;
}

a:hover {
    color: var(--color-light);
}

/* Icona Crea Playlist */
.fa-square-plus {
    color: var(--color-lightgrey);
    cursor: pointer;
}

/* Over icona Crea Playlist */
.fa-square-plus:hover {
    color: var(--color-light);
}

/* Flex utility */
.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.j-content-center {
    justify-content: center;
}

.j-content-end {
    justify-content: flex-end;
}

.j-content-space-around {
    justify-content: space-around;
}

.a-content-center {
    align-content: center;
}

.a-items-center {
    align-items: center;
}

/* Utilities */
.display-none {
    display: none;
}

.display-show {
    display: block;
}

/* End Flex utility */

.upper-content {
    background-color: var(--color-dark);
    /*--color-dark quello da usare */
    /* Una strada (non usata) */
    /* width: 100%;
    height: calc(100vh - 100px); */
    /* Altra strada */
    flex: 1 1 auto;

    /* SOLUZIONI CONSIGLIATE PER IL BUG DI OVERFLOW
    DI FLEX
    1) */
    /* overflow-y: auto; */
    /* 2) */
    min-height: 0;
}

/* Sidebar */
#sidebar {
    /* width: 230px; */
    flex: 0 0 230px;
    background-color: var(--color-black);
    /* ALTEZZA MINIMA SOTTO LA QUALE LA SIDEBAR
    NON DEVE SCENDERE (SERVE PER NON FAR SALIRE
    LA sidebar-bottom TROPPO IN ALTO E ANDARE COSI'
    AD OCCUPARE LA SEZIONE DELLE PLAYLIST)
    Come se dicessi: sidebar-bottom quando si restringe
    lo schermo in altezza sali, ma bloccati quando quando
    il container in cui sei contenuta arriva a 400px */
    min-height: 400px;
    /* Compro i contenuti in eccesso che potrebbero comparire */
    overflow: hidden;
}

/* Altezza sidebar top: il 100% dell'altezza meno i 90px
della sidebar-bottom */
.sidebar-top {
    height: calc(100% - 150px);
}

/* Altezza sidebar-bottom */
.sidebar-bottom {
    /* position: relative; */
    height: 150px;
    background-color: var(--color-black);
}

#logo img {
    width: 100%;
}

/* Disposizione e allineamenti degli elementi della sidebar-top */
#logo,
.sidebar-nav a,
.playlist-nav a,
.sidebar-bottom ul.install-app li,
.sidebar-bottom ul.install-app li a {
    display: flex;
    padding: 10px 20px 10px 10px;
    align-items: center;
}

/* Spazio un altro pò l'icona "profile.svg" e
la a John Doe per allinearlo perfettamente
all'elemento di sopra */
.sidebar-bottom ul.install-app li:last-child {
    margin-left: 3px;
}

#sidebar .sidebar-top .playlist-nav ul li .create-playlist {
    padding-bottom: 10px;
    font-size: 1.1em;
    font-weight: 600;
}

#sidebar .sidebar-top .playlist-nav ul li i {
    padding-left: 10px;
    align-content: center;
}

.sidebar-nav img,
.sidebar-bottom .install-app img {
    height: 25px;
    width: auto;
    /* Do il colore "lightgrey" alle immagini .svg con un filtro */
    filter: brightness(0) saturate(100%) invert(78%) sepia(1%) saturate(0%) hue-rotate(51deg) brightness(100%) contrast(92%);


}

/* Colori icone e immagini .svg della sidebar in hover */
.sidebar-top .sidebar-nav li a:hover,
.sidebar-bottom .install-app li img:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(352deg) brightness(110%) contrast(101%);
}

.sidebar-bottom .install-app li:last-of-type a {
    color: var(--color-light);
}

/* Le do già subito il bordo per evitare lo scattino
degli li quando con l'hover compare il bordo */
.sidebar-nav a {
    border-left: 3px solid transparent;
}

/* Ora faccio comparire il bordo a sinistra e lo assegno fisso
alla pagina attualmente visitata */
.sidebar-nav a:hover,
.sidebar-nav a.active {
    border-left: 3px solid var(--color-highlight);
}

/* Playlist-nav */
.playlist-nav {
    flex: 1 1 auto;
    min-height: 0px;
}

.playlist-nav ul {
    flex: 1 1 auto;
    overflow-y: auto;
}

/* Main */
main {
    flex: 1 1 auto;
    overflow-y: auto;
    /* height: 100%; */
    padding: 100px 20px 20px;
    /* Nascondo la barra orizzontale
    in caso di restringimento eccessivo
    della finestra */
    /* overflow-x: hidden; */
}

.header {
    height: 70px;
    position: fixed;
    top: 0px;
    left: 230px;
    /* width: 100%; */
    width: calc(100% - 230px);
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.352);
}

/* Sezione header-menu */
#header-menu a {
    color: var(--color-lightgrey);
    text-transform: uppercase;
    font-weight: 700;
    /* Inserire sempre il display: block; altrimenti
    quello che voglio visualizzare rischierebbe di
    sbordare troppo in basso o rimarrebbe attaccato
    troppo ai lati */
    display: block;
    padding: 10px 20px;
}

#header-menu a:hover {
    color: var(--color-light);
    /* border-bottom: 1px solid var(--color-highlight); */
}

#header-menu a::after {
    content: '';
    /* Se non lo blocco non compare la riga verde */
    display: block;
    /* Imposto la larghezza la metà del suo contenitore,
    così da visualizzare mezzo bordo di riga sottolineata
    invece che coprire tutta la parola dell'ancora */
    width: 50%;
    /* La centro bene orizzontalmente altrimenti comparirebbe
    all'inizio della parola con ancora */
    margin: 0 auto;
    /* Imposto un'altezzs della riga da visualizzare */
    height: 3px;
}

/* Appena fatto l'hover col mouse sul testo ancorato,
visualizzo subito dopo questo la riga di sottolineatura
con altezza 3px di colore verde.
Con active invece gli dico di tenere visibile la
sottolineatura per quell'ancora del menu in cui mi trovo */
#header-menu a:hover::after,
#header-menu a.active:after {
    background-color: var(--color-highlight);
}

/* End sezione header-menu */


/* Sezione Card */
.main-content .col {
    padding: 8px;
    width: calc(100% / 6);
}

.card-container small {
    color: var(--color-lightgrey);
    font-weight: 600;
}

.card-container h3 {
    padding-bottom: 10px;
}

.card-title {
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
}

.card-image {
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;

}

/* CSS ellipsis NEL CASO VOLESSI UTILIZZARLA */
/* .card-container .card-title h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
} */

/* Creo la card arrotondata */
#popular-artist .card-image {
    position: relative;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    /* Nascondo la parte in eccesso dell'immagine
    che non rientra nel cerchio */
    overflow: hidden;
}

/* Mi centro per bene l'icona play sulle immagini
e la nascondo  con display: none; */
.card-container .icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* All'hover sulla card delle immagini
faccio ricomparire l'icona play */
.card-image:hover .icon-play {
    display: block;
}

/* Faccio lo stesso con il layover
(usato per creare un'opacità all'immagine
al passaggio del mouse) */
.card-image:hover .layover {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* width: 100%;
    height: 100%; */
    background-color: rgba(0, 0, 0, 0.5);
    /* Aggiungo una transizione sl layover per renderlo più fluido */
    transition: all 0.5s ease-out;
}

/* End Sezione Card */


/* ------------------------------- *
 * ------- Playbar footer -------- *
 * ------------------------------- */
footer {
    background-color: var(--color-darkgrey);
    /* height: 100px; */
    flex: 0 0 100px;
    /* La metto in prima posizione rispetto a tutti
    gli altri container   */
    z-index: 3001;
}

/* Posizionamenti e padding */
.left-player,
.right-player,
.center-player {
    padding: 5px;
    height: 100%;
}

.left-player,
.right-player {
    width: 30vw;
    flex-grow: 0;
}

.center-player {
    width: 70vw;
    flex-grow: 1;
}


/* ------ Playbar centrale ------- */

/* Personalizzo i colori delle input type range 
e (con height: 3px) do uno spessore minore alla barra 
di scorrimento audio */
.playbar-time .controller-bar input[type="range"],
.right-player .controller-volume input[type="range"] {
    accent-color: var(--color-lightgrey);
    height: 3px;
    width: 100%;
}

/* Colore all'hover */
.playbar-time .controller-bar input[type="range"]:hover,
.right-player .controller-volume input[type="range"]:hover {
    accent-color: var(--color-highlight);
}

/* ------------- BONUS INPUT RANGE ------------- */
/* Nascondo il pallino degli input[type="range"] */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Imposto con l'opacità a zero il modo per nascondere il pallino */
    opacity: 0;
}

/* All'hover con i mouse lo faccio ricomparire impostando
l'opacità ad 1 */
input[type="range"]::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    /* Mostro il pallino */
    opacity: 1
}

/* ------------- END BONUS INPUT RANGE ------------- */

/* Mi assicuro che la controller bar contenente 
l'input tipe range sia larga il 100% del suo contenuto */
.playbar-time .controller-bar,
.right-player .controller-volume input[type="range"] {
    width: 100%;
}

/* Colore span timer canzone */
.playbar-time span {
    width: 10%;
    color: var(--color-lightgrey);
}

/* Assegno a tutta la playbar centrale una larghezza
del 80% del suo contenitore così da creare spaziature
tra la sezione di destra e quella di sinistra ed evitare
così sbordure inaspettate */
.center-player .playbar-center {
    width: 80%;
}

/* Do a .playbar-icons (figlio di .center-player) 
un'altezza del 60% rispetto al padre */
.center-player .playbar-icons {
    height: 60%;
}

/* Il restante 40% lo do al .playbar-time contenente
gli span del tempo e l'input[range] */
.center-player .playbar-time {
    height: 40%;
    width: 100%;
}

/*Distanzio con un gap le icone superiori (contenute in una lista)
della barra centrale e assegno un font-size maggiore */
.center-player .playbar-icons ul {
    gap: 25px;
    font-size: 1.5em;
}

/* A quella centrale del play le assegno una dimensione 
leggermente superiore */
.center-player .fa-circle-play {
    font-size: 1.7em;
}

/* Distanzio leggermente gli span contenenti 
il tempo e la durata del brano */
.playbar-time span {
    padding: 5px 10px;
}

/* SCALE E ANIMAZIONI */
/* ingrandisco leggermente le icone della playbar all'hover 
e gli do un'animazione di transizione */
.playbar-icons ul li:hover,
.right-player div i:hover {
    transform: scale(1.2);
    /* Imposto una transizione così da rendere più
    fluido l'ingrandirsi dell'icona all'hover
    con il mouse */
    transition: all 0.5s ease-in;
}

/* FINE SCALE E ANIMAZIONI */

/* Do a tutte le icone del footer un cursor pointer */
.playbar-icons ul li,
.left-player .album img,
.left-player .album ul li,
.left-player .icon i {
    cursor: pointer;
}

/* ------ Fine Playbar centrale ------- */

/* ------ Playbar sinistra ------- */

/* Padding altezza e larghezza left-player */
.left-player .album,
.left-player .album img,
.left-player .icon .right-player {
    padding: 20px 10px;
    height: 100px;
    width: 100%;
}

.left-player .album img {
    width: 50%;
    height: 70px;
    object-fit: cover;
}

.left-player .album-info {
    width: 87%;
}

.left-player .icon {
    width: 23%;
}

/* Distanzio le due icone */
.left-player .icon {
    gap: 15px;
}

.left-player .info-album-playing li {
    color: var(--color-light);
    font-weight: 700;
}

/* Imposto all'hover del nome brano il testo sottolineato */
.left-player .info-album-playing li a:hover {
    text-decoration: underline;
}

/* Colori all'hover e non sulle icone */
.left-player .icon i {
    color: var(--color-lightgrey);
}

.left-player .icon i:hover {
    color: var(--color-light)
}

/* ------ Fine Playbar sinistra ------- */

/* ------ Playbar destra  ------- */
.right-player {
    gap: 15px;
}

.right-player .controller-volume input[type="range"] {
    margin-bottom: 10px;
}

/* Centro meglio il player con un margin-bottom */
.right-player {
    padding: 20px 10px;
}

/* ------ BONUS PERSONALIZZA COLORE ------- */
::-webkit-scrollbar {
    width: 10px;
  }
/* Colore della traccia, cioè dello spazio vuoto
   interno alla barra di scorrimento */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #99ff00; 
    border-radius: 10px;
  }
   
  /* Colore */
  ::-webkit-scrollbar-thumb {
    background: var(--color-highlight); 
    border-radius: 10px;
  }
  
  /* Colore all'hover col mouse della barra di scorrimento */
  ::-webkit-scrollbar-thumb:hover {
    background: #57801b; 
  }
/* ------- FINE BONUS BARRA LATERALE ------- */


/* ------------ *
 *  Media query *
 * ------------ */
@media screen and (max-width: 1200px) {

    /* Imposto che ogni riga contiene 4 card */
    .main-content .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 996px) {

    /* Imposto che ogni riga contiene 3 card */
    .main-content .col {
        width: calc(100% / 3);
    }

    /* Sposto il pulsante */
    .upgrade-button {
        margin-right: 40px;
    }

    /* Riduco l'ampiezza dei vari player del footer */
    .left-player,
    .right-player {
        width: 40vw;
    }

    .center-player {
        width: 60vw;
    }

    /* Riduco la spaziatura tra la playbar centrale e il suo 
    contenitore */
    .center-player .playbar-center {
        width: 90%;
    }

    /* Diminuisco leggermente la grandezza del font del footer */
    footer {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 768px) {

    /* Imposto che ogni riga contiene 2 card */
    .main-content .col {
        width: calc(100% / 2);
    }

    /* Restringo la sidebar */
    #sidebar {
        flex: 0 0 70px;

    }

    /* Restringo anche l'header semitrasparente */
    .header {
        height: 70px;
        position: fixed;
        top: 0px;
        left: 70px;
        width: calc(100% - 70px);
    }

    /* Nascondo il testo nella sidebar e visualizzo solo le icone */
    .sidebar-top .sidebar-nav span,
    .playlist-nav {
        display: none;
    }

    /* Nascondo il logo grande */
    .sidebar-top #logo img {
        display: none;
    }

    /* E visualizzo quello mobile */
    .sidebar-top #logo img.display-none {
        display: block;
        width: 30px;
    }

    /* Nascondo i testi della sidebar-bottom */
    .sidebar-bottom ul.install-app li a,
    .sidebar-bottom .install-app hr {
        display: none;
    }

    /* Riduco anche l'altezza della sidebar-bottom */
    .sidebar-bottom {
        height: 90px;
    }

    /* E allugno quella della sidebar-top */
    .sidebar-top {
        height: calc(100% - 90px);
    }

    /* ALLINEO AL CENTRO DELLA SIDEBAR RISTRETTA
    IL LOGO, LA SIDEBAR SUPERIORE E QUELLA INFERIOREN */
    #logo,
    .sidebar-top li,
    .sidebar-bottom ul li {
        display: flex;
        justify-content: center;
    }

    /* Riduco l'ampiezza dei vari player del footer */
    .left-player,
    .right-player {
        width: 52vw;
    }

    .center-player {
        width: 48vw;
    }

    /* Diminuisco la grandezza del font del footer */
    footer {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 576px) {

    /* Imposto che ogni riga contiene 1 card */
    .main-content .col {
        width: calc(100% / 1);
    }

    .upgrade-button {
        padding: 10px 20px;
    }

    /* Riduco l'ampiezza dei vari player del footer */
    .left-player {
        width: 60vw;
    }

    .right-player {
        width: 60vw;
    }

    .center-player {
        width: 40vw;
    }

    /* Tolgo la spaziatura tra la playbar centrale e il suo 
    contenitore */
    .center-player .playbar-center {
        width: 100%;
    }

    /* Diminuisco la grandezza del font del footer */
    footer {
        font-size: 0.6em;
    }
}


@media screen and (max-width: 421px) {


    /* Tolgo dal display il player sinistro e destro */
    .left-player {
        display: none;
    }

    .right-player {
        display: none;
    }
}