/* Palette colori */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #FFFFFF;
    --color-black: #000000;
    --color-lightgrey: #C1C1C1;
    --color-highlight: #9AE22D;
    --color-redcolor: #CA1717;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* Classe fluida per le immagini */
img {
    width: 100%;
    max-width: 100%;
    display: block;
}

/* Generals */
body {
    background-color: var(--color-darkgrey);
    color: var(--color-light);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.wrapper {
    background-color: var(--color-darkgrey);
    height: 100vw;
    /* Soluzione flex */
    /* display: flex; */
}

h2 {
    font-size: 2em;
    padding-bottom: 30px;
}

.row {
    padding-bottom: 30px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
}

/* Flex utility */
.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.j-content-center {
    justify-content: center;
}

.a-content-center {
    align-content: center;
}

/* Utilities */



/* End FLex utility */

.upper-content {
    background-color: var(--color-dark);
    /*--color-dark quello da usare */
    /* Una strada (non usata) */
    /* width: 100%;
    height: calc(100vh - 100px); */
    /* Altra strada */
    flex: 1 1 auto;
    /* overflow-y: auto; */
    min-height: 0;
}

/* Playbar */
footer {
    background-color: var(--color-darkgrey);
    /* height: 100px; */
    flex: 0 0 100px;
}

/* Sidebar */
#sidebar {
    /* width: 230px; */
    flex: 0 0 230px;
    background-color: var(--color-black);
}

/* Main */
main {
    flex: 1 1 auto;
    overflow-y: auto;
    /* height: 100%; */
    padding: 100px 20px 20px;
    /* Nascondo la barra orizzontale 
    in caso di restringimento eccessivo
    della finestra */
    overflow-x: hidden;
}

.header {
    height: 70px;
    position: fixed;
    top: 0px;
    left: 230px;
    /* width: 100%; */
    width: calc(100% - 230px);
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.352);
}

/* Sezione header-menu */
#header-menu a {
    color: var(--color-lightgrey);
    text-transform: uppercase;
    /* Altrimenti il border che voglio visualizzare al
    click di quel pulsante del menu sborda troppo
    sotto */
    display: block;
    padding: 10px 20px;
}
#header-menu a:hover {
    color: var(--color-light);
    border-bottom: 1px solid var(--color-highlight);
}




/* Sezione Card */
.main-content .col {
    padding: 8px;
    width: calc(100% / 6);
}

.card-container h5 {
    color: var(--color-lightgrey);
}

.card-title {
    text-align: center;
    padding: 8px 0;
}

.card-image {
    position: relative;
    width: 100%;

}

.card-image:hover {
    opacity: 0.5;
    cursor: pointer;
}

.card-container .icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card-image:hover .icon-play {
    display: block;
    filter: saturate(2.2);
}

#popular-artist .card-image img {
    width: 100%;
    border-radius: 50%;
    /* Nascondo la parte in eccesso dell'immagine */
    overflow: hidden;
}

/* End Sezione Card */


/* ------------ *
 *  Media query * 
 * ------------ */
@media screen and (max-width: 1200px) {

    /* Imposto che ogni riga contiene 4 card */
    .main-content .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 992px) {

    /* Imposto che ogni riga contiene 3 card */
    .main-content .col {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px) {

    /* Imposto che ogni riga contiene 2 card */
    .main-content .col {
        width: calc(100% / 2);
    }

    /* Restringo la sidebar */
    #sidebar {
        flex: 0 0 30px;

    }

    /* Restringo anche l'header semitrasparente */
    .header {
        height: 70px;
        position: fixed;
        top: 0px;
        left: 61px;
        width: calc(100% - 30px);

    }
}

@media screen and (max-width: 576px) {

    /* Imposto che ogni riga contiene 1 card */
    .main-content .col {
        width: calc(100% / 1);
    }
}